h1 {
  padding: 30px 0 20px;
  font-family: "Montserrat-Bold";
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  h1 {
    font-size: 59px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 25px;
  }
}

h2 {
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
  color: #000;
  font-size: 18px;
}
@media (min-width: 576px) {
  h2 {
    font-size: 51px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h2 {
    font-size: 26px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
  color: #000;
  font-size: 16px;
}
@media (min-width: 576px) {
  h3 {
    font-size: 41px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h3 {
    font-size: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  h3 {
    font-size: 26px;
  }
}

.slick-slide {
  opacity: 0;
}

.slick-active {
  opacity: 1;
}

h4 {
  font-family: "Montserrat-Bold";
  color: #000;
  font-size: 16px;
}
@media (min-width: 576px) {
  h4 {
    font-size: 32px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h4 {
    font-size: 26px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  h4 {
    font-size: 24px;
  }
}

p {
  font-family: "Montserrat-Regular";
  color: #000;
  font-size: 14px;
}
@media (min-width: 576px) {
  p {
    font-size: 32px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  p {
    font-size: 22px;
  }
}

a, button {
  font-family: "Montserrat-Bold";
  color: #000;
  font-size: 14px;
}
@media (min-width: 576px) {
  a, button {
    font-size: 32px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  a, button {
    font-size: 22px;
  }
}

a {
  text-decoration: none;
}

i {
  margin-left: 10px;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 2rem;
  left: 0.7rem;
  width: 35%;
}
@media (min-width: 576px) {
  .logo {
    width: 12%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .logo {
    width: 14%;
    position: absolute;
  }
}
@media (min-width: 1025px) {
  .logo {
    position: relative;
    top: 0;
  }
}

.my-btn {
  background-color: #FFFFFF;
  border: none;
  margin: auto;
  border-radius: 5px;
  font-family: "Montserrat-Bold";
  font-weight: 900;
  transition: 400ms ease-in;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Montserrat-Bold";
  color: #000;
  font-size: 14px;
}
.my-btn.drop-btn, .my-btn.side-btn {
  padding: 10px 12px;
}
.my-btn span {
  display: ruby;
}
@media (min-width: 576px) {
  .my-btn {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-btn {
    font-size: 22px;
  }
}
.my-btn:hover {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #22eeff;
}
@media (min-width: 576px) {
  .my-btn {
    padding: 13.3333333333px 40px;
  }
  .my-btn.drop-btn, .my-btn.side-btn {
    padding: 13.3333333333px 25px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-btn {
    padding: 10px 20px;
  }
  .my-btn.drop-btn, .my-btn.side-btn {
    padding: 10px 12px;
  }
}

.darl {
  background-color: #060606;
  color: #FFFFFF;
}

.main-header {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}
.main-header .menu {
  position: absolute;
  flex-wrap: wrap;
}
.main-header .menu::before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  transition: all 500ms ease-in-out;
  -webkit-clip-path: circle(30px at calc(100% - 65px) 65px);
          clip-path: circle(30px at calc(100% - 65px) 65px);
  visibility: hidden;
}
.main-header .menu a {
  position: relative;
  font-family: "Montserrat-Regular";
  color: #FFFFFF;
  font-size: 27px;
  transition: 0.7s linear;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  font-weight: 700;
}
@media (min-width: 576px) {
  .main-header .menu a {
    font-size: 32px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .main-header .menu a {
    font-size: 30px;
  }
}
.main-header .menu a.active {
  opacity: 1;
}
.main-header .menu a:hover {
  opacity: 1;
}
@media (min-width: 1025px) {
  .main-header .menu a {
    width: auto;
    opacity: 1;
    transform: translateY(0);
    color: #060606;
    font-weight: 100;
  }
}
.main-header .menu.open {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}
.main-header .menu.open::before {
  visibility: visible;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
.main-header .menu.open a {
  z-index: 2;
  transform: translateY(0);
  opacity: 1;
}
.main-header .menu.open .my-btn {
  color: #060606;
  width: auto;
  visibility: hidden;
}
@media (min-width: 1025px) {
  .main-header .menu {
    position: relative;
  }
  .main-header .menu .my-btn {
    visibility: visible;
  }
}
.main-header .ham {
  background-color: rgba(6, 6, 6, 0.8);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  transition: 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px double #000;
  position: absolute;
  right: 0.7rem;
  top: 1.5rem;
  padding: 0;
  transition: 0.7s linear;
  z-index: 2;
}
.main-header .ham .top,
.main-header .ham .bottom {
  stroke-dasharray: 240 910;
}
.main-header .ham .middle {
  stroke-dasharray: 240 240;
}
.main-header .ham.open {
  border-color: #22eeff;
}
.main-header .ham.open path {
  stroke: #22eeff;
}
.main-header .ham.open .top,
.main-header .ham.open .bottom {
  stroke-dashoffset: -650;
}
.main-header .ham.open .middle {
  stroke-dasharray: 0 220;
  stroke-dasharray: -120;
}
@media (min-width: 1025px) {
  .main-header .ham {
    display: none;
  }
}
.main-header .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #22eeff;
  stroke-width: 10;
  stroke-linecap: round;
}
@media (min-width: 576px) and (max-width: 768px) {
  .main-header .ham {
    top: 1.5rem;
    right: 1.5rem;
  }
  .main-header .logo {
    top: 2rem;
    left: 1.5rem;
  }
}
@media (min-width: 1025px) {
  .main-header {
    height: auto;
  }
  .main-header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main-header .menu .my-btn {
    padding: 5px 20px;
    font-weight: 700;
  }
  .main-header .menu a:not(:nth-child(1)) {
    margin-left: 20px;
  }
}

.hero {
  align-items: center;
  padding: 80px 10px 60px;
  background-color: #22eeff;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.hero a {
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.hero a:nth-child(1) {
  margin-right: 20px;
}
.hero .hero-display {
  position: relative;
}
.hero .hero-display .title {
  position: absolute;
  right: 0;
  bottom: -11%;
  padding: 10px 5px;
  width: 61%;
  height: auto;
  border-radius: 18px;
  background-color: #FFFFFF;
}
.hero .hero-display .title span {
  font-family: "Montserrat-Bold";
  font-weight: 900;
  margin: 0 5px;
}
.hero .hero-display .title p {
  margin: 0;
}
@media (min-width: 576px) {
  .hero .hero-display .title {
    bottom: 0;
  }
}
.hero .hero-display .title p {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px) {
  .hero {
    align-items: center;
    text-align: left;
    padding: 200px 40px 100px;
    flex-direction: row;
  }
  .hero h1 {
    padding: 0;
    padding-bottom: 5vh;
  }
  .hero .hero-inner {
    width: 50%;
  }
  .hero .hero-display .title {
    width: 45%;
    padding: 20px;
  }
  .hero .hero-display img {
    position: relative;
    left: 7%;
  }
  .hero a:nth-child(1) {
    margin-right: 40px;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 10vh 10px 20px;
    text-align: left;
    text-align: center;
  }
  .hero h1 {
    padding: 0;
  }
  .hero div {
    margin-top: 2vh;
  }
  .hero .hero-display {
    width: 100%;
  }
  .hero .hero-display img {
    left: 0;
  }
  .hero .hero-display .title {
    width: 42%;
  }
  .hero .hero-inner {
    width: 80%;
  }
  .hero a {
    margin: 20px 0;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .hero {
    padding-top: 80px;
  }
  .hero a {
    width: auto;
  }
  .hero h1 {
    font-size: 35px;
    padding-bottom: 1vh;
  }
  .hero .title {
    width: 67%;
  }
}

.about {
  background: #22eeff;
  padding: 60px 10px;
  margin-top: -5%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.about .about-inner img {
  position: relative;
  bottom: 6vh;
}
.about .my-card {
  margin-top: 60px;
  border-radius: 20px;
  position: relative;
  text-align: center;
}
.about .my-card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6vh;
}
.about .my-card span {
  font-family: "Montserrat-Bold";
  color: #000;
  font-size: 18px;
  display: block;
}
@media (min-width: 576px) {
  .about .my-card span {
    font-size: 30px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about .my-card span {
    font-size: 22px;
  }
}
.about .my-card .img-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.about .card2 {
  margin-top: 80px;
}
@media (min-width: 567px) {
  .about {
    text-align: left;
    padding: 100px 40px;
  }
  .about .about-inner {
    padding-top: 100px;
  }
  .about .card-body {
    padding: 40px 60px;
  }
  .about .my-card {
    width: 70%;
    border-radius: 20px;
    margin-top: 0;
  }
  .about .my-card .img-bg {
    height: auto;
  }
  .about .card1 {
    margin-left: 20%;
  }
  .about .card2 {
    margin-right: 20%;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .about {
    padding-bottom: 60px;
  }
  .about .my-card {
    padding: 35px 0 0;
  }
  .about .card-body {
    padding: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .about h2 {
    margin-bottom: 60px;
  }
  .about .my-card img {
    bottom: 3vh;
  }
}

.services {
  padding: 40px 6.6666666667px;
  padding-right: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.services h2 {
  margin-bottom: 5vh;
}
.services .service-display {
  position: relative;
}
.services .slick-active a {
  box-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}
.services .slick-active a i, .services .slick-active a span {
  text-shadow: 0 0.1875rem 0.375rem rgba(0, 0, 0, 0.23);
}
.services .service {
  position: relative;
  margin-right: 20px;
}
.services .service img {
  width: 100%;
}
.services a {
  background-color: #FFFFFF;
  border: 1px solid #060606;
  border-radius: 5px;
  position: absolute;
  bottom: -10%;
  right: 2%;
  font-family: "Red Hat Display Bold";
  display: flex;
  align-items: center;
  justify-content: center;
}
.services p {
  margin-top: 5vh;
}
@media (min-width: 576px) {
  .services {
    text-align: left;
    padding: 100px 60px;
    padding-right: 0;
  }
  .services h2 {
    margin-bottom: 60px;
  }
  .services .services-inner {
    position: relative;
    left: 10%;
  }
  .services .service {
    margin-right: 60px;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .services {
    text-align: center;
    padding-bottom: 80px;
  }
  .services .services-inner {
    left: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .services p {
    margin-top: 2vh;
  }
}

.founder {
  padding: 40px 10px 0;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  background-color: #22eeff;
  text-align: center;
}
.founder .founder-bg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  top: 5vh;
}
.founder .founder-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.founder h3, .founder p {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .founder {
    padding: 40px;
    padding-right: 20px;
    text-align: left;
    flex-direction: row;
    align-items: center;
    overflow: visible;
  }
  .founder .founder-bg {
    position: relative;
    bottom: 10vh;
    margin-top: -12vh;
  }
  .founder .founder-inner {
    padding: 0 40px;
    margin-bottom: 0;
    position: relative;
    bottom: 6vh;
  }
  .founder .founder-inner h3, .founder .founder-inner p {
    margin-bottom: 30px;
  }
  .founder .my-btn {
    margin: 0;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .founder {
    padding: 120px 20px 40px;
    flex-direction: column-reverse;
    text-align: center;
  }
  .founder .founder-bg {
    width: 80%;
    bottom: 0;
    margin-top: -4vh;
  }
  .founder .my-btn {
    margin: auto;
  }
  .founder p {
    font-size: 22px;
  }
}

.investor {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  z-index: 1;
}
.investor h3, .investor p {
  margin-bottom: 20px;
}
.investor .investor-inner {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 576px) {
  .investor {
    padding: 100px 60px;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .investor h3, .investor p {
    margin-bottom: 30px;
  }
  .investor .my-btn {
    margin: 0;
  }
  .investor .investor-inner {
    position: relative;
    top: 8vh;
    width: 43%;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .investor {
    padding: 80px 20px;
    flex-direction: column;
    text-align: center;
  }
  .investor .investor-inner {
    width: 100%;
    margin-bottom: 140px;
  }
  .investor .my-btn {
    margin: auto;
  }
}

.FAQ {
  background-color: #22eeff;
  padding: 60px 10px;
  margin-bottom: -25%;
}
.FAQ h2 {
  text-align: center;
  margin-bottom: 40px;
}
.FAQ .FAQ-inner {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.FAQ .faq-qsn {
  position: relative;
  transition: 400ms;
}
.FAQ .faq-qsn .title {
  display: flex;
}
.FAQ .faq-qsn .ans {
  transition: 400ms;
  position: absolute;
  opacity: 0;
  transform: translateY(-40px);
  visibility: hidden;
  margin-bottom: 40px;
}
.FAQ .faq-qsn .ans.open {
  position: relative;
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.FAQ i {
  width: 20px;
}
@media (min-width: 576px) {
  .FAQ {
    padding: 100px 60px;
    margin-bottom: -5%;
  }
  .FAQ .FAQ-inner {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
  }
  .FAQ .faq-qsn {
    width: 45%;
  }
  .FAQ .faq-qsn .ans {
    width: 100%;
    margin: 40px 0 80px;
  }
  .FAQ .faq-qsn hr {
    height: 1px;
    color: #000;
    opacity: 1;
    width: 100%;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .FAQ {
    padding: 80px 20px;
    margin-bottom: -10%;
  }
  .FAQ .faq-qsn {
    width: 45%;
  }
}

.funds {
  padding: 60px 0;
  background-color: #22eeff;
  text-align: center;
}
.funds .collapser {
  background-color: #FFFFFF;
  padding: 40px;
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 20px 6.6666666667px;
  border-radius: 20px;
  height: 100%;
}
.funds .slide0 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 20vh;
  margin: 0 10px;
}
.funds .slide0 img {
  height: 12vh;
  width: 100%;
}
.funds .sponsors {
  position: relative;
}
.funds .controls {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 38%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.funds .controls button {
  background: transparent;
  border: none;
  outline: none;
}
.funds .display {
  width: 100%;
  display: none;
  text-align: center;
  position: relative;
  bottom: 4vh;
  margin-bottom: -10%;
}
.funds .display img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.funds .display img:nth-child(2) {
  width: 100%;
  position: relative;
  z-index: 2;
}
.funds .display img:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (min-width: 576px) {
  .funds {
    padding: 100px 0 40px;
    text-align: left;
  }
  .funds .display {
    display: block;
  }
  .funds .controls {
    visibility: visible;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .funds {
    margin-bottom: -10%;
  }
  .funds .collapser {
    padding: 80px 20px;
  }
  .funds .controls button {
    border-radius: 50%;
    background-color: #FFFFFF;
  }
  .funds .slide0 {
    margin: 0;
  }
  .funds .slide0 img {
    height: 5vh;
    margin: auto;
  }
  .funds .display {
    bottom: 6vh;
  }
}

.my-footer {
  position: relative;
  z-index: 1;
  background-color: #000;
  color: #FFFFFF;
  text-align: center;
  padding: 40px 0;
}
.my-footer .item {
  margin-top: 40px;
}
.my-footer h4 {
  color: #FFFFFF;
  margin-bottom: 2vh;
}
.my-footer ul {
  list-style: none;
  padding: 0;
}
.my-footer p {
  color: #FFFFFF;
  margin: 0;
}
.my-footer span {
  font-family: "Montserrat-Regular";
  color: #FFFFFF;
  font-size: 14px;
}
@media (min-width: 576px) {
  .my-footer span {
    font-size: 23px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-footer span {
    font-size: 19px;
  }
}
.my-footer .sub {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.my-footer .sub hr {
  height: 30px;
  opacity: 1;
  width: 3px;
  color: #FFFFFF;
  margin: 0 10px;
}
.my-footer .sub i {
  width: 30%;
}
.my-footer .sub img {
  width: 100%;
}
@media (min-width: 576px) {
  .my-footer {
    padding: 80px 0;
  }
  .my-footer .sub i {
    width: 10%;
  }
  .my-footer .sub hr {
    height: 40px;
    margin: 40px;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .my-footer .sub i {
    width: 25%;
  }
}

/* Editable */
#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 6;
  background-color: transparent;
}

.sk-three-bounce {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.sk-three-bounce .sk-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  background-color: #FFFFFF;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
          animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    background-color: #FFFFFF;
  }
  40% {
    transform: scale(1);
    background-color: #8d22ff;
  }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    background-color: #FFFFFF;
  }
  40% {
    transform: scale(1);
    background-color: #8d22ff;
  }
}/*# sourceMappingURL=style.css.map */